@import 'essentials';

.video-container {
  position: relative;
  overflow-y: hidden;

  .video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
  }

  .video-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    opacity: 0;

    &--active {
      top: 0;
      opacity: 1;
    }

    &__controls {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
