@import 'essentials';

.section {
  color: theme-color(light);
  overflow: hidden;
  // background: url('../../../../assets/images/intro_bg.png');
  // background-attachment: fixed;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
}

.intro-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  transition-duration: 0.5s;

  &--fade-out {
    opacity: 0;
  }
}

.logo {
  margin-left: rem(60px);
}

.h1 {
  font-size: rem(72px);
  font-weight: bold;
}

.text-small {
  color: gray-color(50);
}

.doors-video {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;
}
