<section class="section section-full-screen">
  <video
    #backgroundVideo
    class="doors-video"
    (ended)="redirectToTutorials()">
    <source
      src="../../../../assets/videos/door_opens.mp4"
      type="video/mp4">
  </video>

  <div
    class="intro-container"
    [class.intro-container--fade-out]="hideText">
    <div class="logo">
      <img
        src="../../../../assets/images/logo_black.png"
        alt="faketeam deepfake fake team">
    </div>

    <div>
      <div
        data-aos="fade-up"
        data-aos-once="true">
        <h1 class="h1 text-center">Welcome</h1>
      </div>
      <div
        data-aos="fade-up"
        data-aos-once="true"
        data-aos-delay="100">
        <h2 class="h2 text-center">
          To the Deepfake interactive experience video
        </h2>
      </div>
    </div>

    <div>
      <p
        class="text-center text-small"
        data-aos="fade-zoom-in"
        data-aos-once="true"
        data-aos-delay="500">
        Click "Start" button to begin the tutorial
      </p>

      <div
        class="text-center"
        data-aos="fade-up"
        data-aos-once="true"
        data-aos-delay="200">
        <button
          class="button button--transparent button--shadow button--big button--shine"
          (click)="onStartClicked()">
          Start
        </button>
      </div>
    </div>

  </div>
</section>
