<div class="row">
  <div class="col-12">
    <div class="bar-charts__container">
      <div class="bar-chart bar-chart--1">
        <div class="bar-chart__legend">0-17</div>
        <div class="bar-chart--1__value">10%</div>
        <div class="bar-chart--1__base"></div>
      </div>
      <div class="bar-chart bar-chart--2">
        <div class="bar-chart__legend">18-24</div>
        <div class="bar-chart--2__value">72%</div>
        <div class="bar-chart--2__base"></div>
      </div>
      <div class="bar-chart bar-chart--3">
        <div class="bar-chart__legend">25-44</div>
        <div class="bar-chart--3__value">13%</div>
        <div class="bar-chart--3__base"></div>
      </div>
      <div class="bar-chart bar-chart--4">
        <div class="bar-chart__legend">45+</div>
        <div class="bar-chart--4__value">5%</div>
        <div class="bar-chart--4__base"></div>
      </div>
    </div>
  </div>
</div>
