.video-card {
  width: rem(200px);
  height: auto;
  // min-width: rem(200px);
  // max-width: rem(200px);
  border: 2px solid theme-color(light);
  border-radius: rem(4px);
  overflow: hidden;

  video {
    width: 100%;
  }

  .controls {
    display: flex;
    height: rem(46px);
  }
}
