<div class="row">
  <div class="col-12">
    <div class="bar-charts__container">

      <div class="bar-chart bar-chart--1">
        <div class="bar-chart__legend">~School</div>
        <div class="bar-chart--1__value">20%</div>
        <div class="bar-chart--1__base"></div>
      </div>
      <div class="bar-chart bar-chart--2">
        <div class="bar-chart__legend">Bachelor</div>
        <div class="bar-chart--2__value">41%</div>
        <div class="bar-chart--2__base"></div>
      </div>
      <div class="bar-chart bar-chart--3">
        <div class="bar-chart__legend">Master</div>
        <div class="bar-chart--3__value">19%</div>
        <div class="bar-chart--3__base"></div>
      </div>
      <div class="bar-chart bar-chart--4">
        <div class="bar-chart__legend">PhD</div>
        <div class="bar-chart--4__value">20%</div>
        <div class="bar-chart--4__base"></div>
      </div>
    </div>
  </div>
</div>
