<section class="section-full-screen section-dark ">
  <div *ngIf="getVideoOptions() | async as options">
    <app-video
      class="video"
      [showVideoControls]="showVideoControls"
      [options]="options"
      (testSelected)="openTestScreen()"
      (videoEnded)="onVideoEnded()"></app-video>
  </div>

  <div
    [class.interaction--active]="showInteraction"
    class="interaction">
    <button
      class="button button--primary button--shine ml-5 mt-5"
      [routerLink]="'/tutorials/what-is-deepfake'">
      Go to the next tutorial
    </button>
  </div>
</section>
